@charset "utf-8";

/*--------------------------------------------------------------------------
| 💕Common
|--------------------------------------------------------------------------*/

/* Scroll Bar */
.scrollbar--default::-webkit-scrollbar{width:7px}
.scrollbar--default::-webkit-scrollbar-thumb{border-radius:3px;background-color:#a7a7a7}
.scrollbar--default::-webkit-scrollbar-track{background-color:#eee}

/* Form */
.radio-wrap{position:relative;margin-right:15px}
.radio-wrap:last-child{margin-right:0}
.chk-item{display:inline-flex;align-items:center;position:relative}
.chk-item__icon{display:inline-block;position:relative;top:-1px;margin-right:5px;font-size:20px}
.chk-item__label-txt{display:inline-block}
.chk-item__input{position:absolute;top:0;left:0;width:0;height:0;opacity:0}
.chk-item__input--checkbox:checked + .xi-check-square-o::before{content:"\e92d";color:#6b48ff}
.chk-item__input--radio:checked + .xi-radiobox-blank::before{content:"\e9c7";color:#6b48ff}
.chk-item__input:focus + .chk-item__icon::after{display:inline-block}

.icon-outline::after{content:"";display:none;position:absolute;top:-2px;left:-2px;right:-2px;bottom:-1px;border:2px solid #000;border-radius:3px}

/* Loader */
.loader-mask .xi-spin{position:absolute;top:50%;left:50%;margin-top:-24px;margin-left:-24px;font-size:48px;color:#fff;z-index:2501}


/*--------------------------------------------------------------------------
| 💕Allow Cookie
|--------------------------------------------------------------------------*/

/* Common */
.allow-cookie{position:fixed;left:0;right:0;padding:40px 0 30px;background-color:#fff;transition:transform .3s;z-index:2100}
.allow-cookie.show{transform:translateY(0)}
.allow-cookie .inner{display:flex;justify-content:center;align-items:center}
.allow-cookie__icon{display:inline-block;margin-right:50px;font-size:0;line-height:1}
.allow-cookie .category{margin-bottom:10px}
.allow-cookie__text{font-size:20px;color:#888;line-height:1.2}
.allow-cookie__black{color:#222}
.allow-cookie__btn{display:flex;justify-content:center;align-items:center;width:200px;height:50px;margin-left:70px;font-size:18px;font-weight:600;border:2px solid #222;border-radius:25px;background-color:transparent;transition:border .5s, background-color .5s,color .5s}
.allow-cookie__btn:hover{color:#fff;border:2px solid #6b48ff;background-color:#6b48ff}

/* Top */
.allow-cookie.top{top:0;box-shadow:0 5px 5px rgba(0,0,0,0.1);transform:translateY(-100%)}
.allow-cookie.top.show{transform:translateY(0)}

/* Bottom */
.allow-cookie.bottom{bottom:0;box-shadow:0 -5px 5px rgba(0,0,0,0.1);transform:translateY(100%)}
.allow-cookie.bottom.show{transform:translateY(0)}



@media (max-width:970px){
  .allow-cookie .category{font-size:14px}
  .allow-cookie__text{font-size:18px}
  .allow-cookie__icon{margin-right:30px;}
  .allow-cookie__btn{flex-shrink:0;width:120px;height:40px;margin-left:40px;font-size:16px}
}
@media (max-width:640px){
  .allow-cookie{padding-top:20px}
  .allow-cookie__icon{margin:0 0 20px}
  .allow-cookie .inner{flex-direction:column;align-items:flex-start}
  .allow-cookie__btn{margin:20px auto 0 0;font-size:15px}
  .allow-cookie__text-wrap{text-align:center}
  .allow-cookie__text{font-size:16px}
  .allow-cookie .category{font-size:13px}
  .allow-cookie__img{display:none}
  .allow-cookie__btn{margin:20px auto 0}
}


/*--------------------------------------------------------------------------
| 💕Popup
|--------------------------------------------------------------------------*/

/* Popup Mask */
.nxpopup-mask{display:block;position:fixed;top:0;bottom:0;left:0;right:0;visibility:hidden;opacity:0;background-color:rgba(0,0,0,0.6);transition:visibility .3s,opacity .3s;z-index:2510}
.nxpopup-mask.show{visibility:visible;opacity:1}

/* Popup */
.nxpopup{display:block;position:fixed;top:50%;left:50%;width:100%;visibility:hidden;opacity:0;padding:0 20px;background-color:transparent;transform:translate(-50%,-50%);transition:visibility .3s,opacity .3s;z-index:2511}
.nxpopup.show{visibility:visible;opacity:1}
.nxpopup__wrapper{position:relative}
.nxpopup__slick .slick-slide{outline:none}
.nxpopup__slick.slick-dotted.slick-slider{margin-bottom:0}
.nxpopup__slick .slick-dots{bottom:14px}
.nxpopup__slick-contents{font-size:14px;color:#444;background-color:#fff}
.nxpopup__slick-contents img{max-width:100%;width:auto!important;height:auto!important;outline:none}
.nxpopup__footer{display:flex;align-items:center;justify-content:space-between;position:relative;padding:7px 12px;border-top:1px solid #ddd;background-color:#fff}
.nxpopup__today-close{font-size:14px;border:0;background-color:transparent}
.nxpopup__today-close::before{content:"";display:inline-block;position:relative;top:-1px;width:11px;height:11px;margin-right:7px;vertical-align:middle;border:1px solid #bbb}
.nxpopup__close-btn{font-size:14px;border:0;background-color:transparent}


/*--------------------------------------------------------------------------
| 💕History
|--------------------------------------------------------------------------*/

/* History */
.nxhistory{position:relative}
.nxhistory__inner{display:flex;align-items:start;position:relative;margin-bottom:30px}
.nxhistory__inner:last-child{margin-bottom:0px}
.nxhistory__year{width:150px;font-size:36px;font-weight:700}
.nxhistory__list{width:calc(100% - 150px)}
.nxhistory__item{display:flex;margin-bottom:10px}
.nxhistory__item:first-child{padding-top:10px}
.nxhistory__month{display:block;width:40px;font-size:18px}
.nxhistory__content{width:calc(100% - 40px)}
.nxhistory__content-item{font-size:16px;margin-bottom:4px}


/*--------------------------------------------------------------------------
| 💕Map
|--------------------------------------------------------------------------*/

/* Map */
.nxmap{position:relative;border:1px solid #ddd}
@media (max-width:640px){
  .nxmap{height:320px !important}
}
@media (max-width:480px){
  .nxmap{height:280px !important}
}


/*--------------------------------------------------------------------------
| 💕Language Switcher
|--------------------------------------------------------------------------*/

/* Language Switcher */
.language-switcher{position:relative;width:100%;max-width:170px;}
.language-switcher::after{content:"";display:block;clear:both;height:0}
.language-switcher .ic-lang-flag{display:inline-block;width:20px;margin-right:5px;vertical-align:sub}

/* Type : Select */
.language-switcher.type-select .language-switcher__btn{display:flex;align-items:center;position:relative;width:100%;height:36px;padding:0 20px;font-family:"Poppins"; font-size:14px; font-weight:600; color:#444; border:0;border-radius:20px;background-color:#f0f3f7;transition:color .3s, background-color .3s;z-index:50;}
.language-switcher.type-select .language-switcher__icon{display:inline-block; margin-right:10px; font-size:20px;}
.language-switcher.type-select .language-switcher__btn::before{content:"";position:absolute; bottom:-4px; left:50%; width:80%; max-width:130px; height:1px; visibility:hidden; opacity:0; background-color:#3685c2; transform:translateX(-50%); transition:visibility .3s, opacity .3s;}
.language-switcher.type-select .language-switcher__btn::after{content:"\e942";display:inline-block;margin-left:auto;font-family:xeicon!important;font-style:normal;line-height:1;font-variant:normal;text-transform:none;speek:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transition:transform .3s}
.language-switcher.type-select .language-switcher__list{position:absolute;top:50%;left:0;width:100%;visibility:hidden;opacity:0;padding:33px 0 20px;border-radius:0 0 20px 20px;background-color:#2d41f4;box-shadow:2px 2px 6px rgba(0,0,0,0.05);transition:visibility .3s, opacity .3s;}
.language-switcher.type-select .language-switcher__item{text-align:center;padding:6px 10px;}
.language-switcher.type-select .language-switcher__item:first-child{padding-top:0}
.language-switcher.type-select .language-switcher__item:last-child{padding-bottom:0}
.language-switcher.type-select .language-switcher__link{display:block;font-family:"Poppins";font-size:14px;font-weight:600;color:#fff;transition:color .3s;}
.language-switcher.type-select .language-switcher__link:hover, .language-switcher.type-select .language-switcher__link.act{color:#ffc240;}
.language-switcher.type-select.open .language-switcher__btn{color:#fff; background-color:#2d41f4;}
.language-switcher.type-select.open .language-switcher__btn::before{visibility:visible;opacity:1;}
.language-switcher.type-select.open .language-switcher__btn::after{transform:rotate(-180deg)}
.language-switcher.type-select.open .language-switcher__list{visibility:visible;opacity:1}

/* Type : List */
.language-switcher.type-list .language-switcher__list{display:flex;position:relative}
.language-switcher.type-list .language-switcher__item{padding:0 8px}
.language-switcher.type-list .language-switcher__link{font-size:13px;color:#545454}
.language-switcher.type-list .language-switcher__link.act{font-weight:700;color:#ffc240}


/*--------------------------------------------------------------------------
| 💕Term
|--------------------------------------------------------------------------*/

/* Term */

/* Term Popup */
.nxterm__popup{position:fixed;top:50%;left:50%;width:90%;max-width:640px;height:90%;max-height:480px;overflow:hidden;opacity:0;border-radius:15px;background-color:#fff;transform:translate(-50%,-30%);transition:transform .3s, opacity .3s;z-index:2510}
.nxterm__popup.show{transform:translate(-50%,-50%);opacity:1}
.nxterm__popup-header{display:flex;justify-content:space-between;align-items:center;height:60px;padding:0 25px;background-color:#0d3f67}
.nxterm__popup-title{font-size:18px;font-weight:500;color:#fff}
.nxterm__popup--close-icon{font-size:24px;color:#fff;border:0;background-color:transparent}
.nxterm__popup-content{position:relative;height:calc(100% - 120px);padding:25px}
.nxterm__popup-content .editor-contents{height:100%; overflow-y:scroll;padding:5px 15px 5px 5px}
.nxterm__popup-content .editor-contents p{font-size:14.5px;line-height:1.7em}
.nxterm__popup-footer{display:flex;justify-content:center;align-items:center;height:60px;border-top:1px solid #ddd}
.nxterm__popup--close-btn{display:block;width:100%;height:100%;font-size:16px;font-weight:500;color:#333;border:0;outline:none;background-color:transparent}
.nxterm__popup--close-btn:hover{color:#0d3f67}


/*--------------------------------------------------------------------------
| Slide
|--------------------------------------------------------------------------*/

/* Slide */
.nx-slide-image-list{position:relative;background-position:center center;background-size:cover}
.nx-slide-video-list{position:relative}
.nx-slide .slick-slide{position:relative}
.nx-slide .slide-video-wrap{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;z-index:1500}
.nx-slide .slide-video-wrap > .nx-slide-video{position:absolute;top:50%;left:50%;width:100vw;min-width:192.77vh;height:62.25vw;min-height:100%;transform:translate(-50%, -50%);z-index:1501}
.nx-slide .slide-youtube-wrap{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;z-index:1500}
.nx-slide .slide-youtube-wrap > .youtube-player{position:absolute;top:50%;left:50%;width:100vw;min-width:192.77vh;height:62.25vw;min-height:100%;transform:translate(-50%, -50%);z-index:1501}
.nx-slide .nx-slide-media-mask{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.2);z-index:1550}


/*--------------------------------------------------------------------------
| 💕Form
|--------------------------------------------------------------------------*/

/* Inquiry */
.nxform{position:relative}
.nxform__row{display:flex;flex-wrap:wrap;position:relative;border-top:2px solid #6b48ff}
.nxform__col{display:flex;align-items:center;width:50%;border-bottom:1px solid #ddd}
.nxform__col.long{align-items:flex-start}
.nxform__col.full{width:100%}
.nxform__label-area{display:inline-flex;flex-shrink:0;align-items:center;width:100px;height:70px;padding:15px 10px}
.nxform__label{font-size:16px;font-weight:500}
.nxform__label.required::after{content:"*";display:inline-block;margin-left:3px;color:#ff0000}
.nxform__input-area{width:100%;padding:15px 20px}
.nxform__input{width:100%;height:40px;border:1px solid #ddd;padding:0 15px;font-size:15px}
.nxform__file-wrap{display:flex;position:relative}
.nxform__file{position:absolute;left:0;top:0;width:0;overflow:hidden;opacity:0}
.nxform__file-btn{flex-shrink:0;width:95px;height:40px;font-size:14px;color:#fff;border:0;background-color:#6b48ff}
.nxform__term-area{margin-top:25px}
.nxform__term-content{height:150px;overflow-y:auto;padding:20px;border:1px solid #ddd;font-size:13.5px;line-height:1.6}
.nxform__term-content p{font-size:13.5px;line-height:1.6}
.nxform__agree-area{margin-top:5px}
.nxform__captcha-area{display:flex;align-items:center;padding:10px 0;margin-top:5px}
.nxform__captcha-label{width:100px;padding-left:10px;font-size:16px;font-weight:500}
.nxform__cap-wrap{display:flex;align-items:center;padding-left:20px}
.nxform__cap-img-wrap img{display:block;max-width:100%}
.nxform__cap-reload{padding:0 10px;border:0;background-color:transparent}
.nxform__cap-reload .xicon{font-size:18px}
.nxform__cap-input{width:130px;height:45px;border:1px solid #ddd;padding:0 15px;font-size:14px;text-transform:uppercase}
.nxform__btn-area{padding-top:20px;text-align:center}
.nxform__submit{width:200px;height:50px;font-size:16px;border:0;background-color:#6b48ff;color:#fff}
.nxform__input-area.email-col{display:flex}
.nxform__email-wrap{display:flex;align-items:center;width:33%}
.nxform__email-wrap:first-child{width:calc(33% + 30px)}
.nxform__email-wrap:first-child::after{content:"@";display:inline-block;width:30px;color:#ddd;text-align:center}
.nxform__input-area.email-col .nxform__select-wrap{width:calc(34% - 30px);margin-left:10px}
.nxform__select-wrap{position:relative;width:100%;height:40px;border:1px solid #ddd}
.nxform__select{position:relative;width:100%;height:100%;padding:0 30px 0 15px;font-size:15px;border:0;cursor:pointer;-webkit-appearance:none;-moz-appearance:none}
.nxform__select::-ms-expand{display:none}
.nxform__select-icon{position:absolute;top:50%;right:10px;color:#666;transform:translateY(-50%)}
.nxform__input-area.tel-col{display:flex}
.nxform__tel-wrap{display:flex;align-items:center;width:50%}
.nxform__tel-wrap:first-child{flex-shrink:0;width:25%}
.nxform__tel-wrap:not(:first-child)::before{content:"\2013";display:inline-block;width:30px;color:#ddd;text-align:center}
.nxform__input-area.chk-area{display:flex;flex-wrap:wrap;margin:-5px -10px}
.nxform__input-area.chk-area .chk-item{padding:5px 10px;font-size:15px;color:#666}
.nxform__textarea{width:100%;height:300px;padding:20px;font-size:15px;border:1px solid #ddd;resize:none}
.nxform__term-detail{font-size:16px;font-weight:500;color:#6b48ff;border:0;background-color:transparent}
.nxform__term-detail:hover{text-decoration:underline}
.nxform__spinner{position:absolute;top:50%;left:50%;margin-top:-24px;margin-left:-24px;font-size:48px;color:#fff;z-index:2501}

@media (max-width:1280px){
	.nxform__input-area.email-col{flex-wrap:wrap}
	.nxform__email-wrap{width:50% !important}
	.nxform__input-area.email-col .nxform__select-wrap{width:100%;margin:10px 0 0}
}
@media (max-width:970px){
	.nxform__col{width:100%}
}
@media (max-width:640px){
	.nxform__col{flex-direction:column;align-items:flex-start}
	.nxform__label-area{height:50px}
	.nxform__input-area{padding:0 10px 20px}
	.nxform__textarea{height:250px}
	.nxform__captcha-area{flex-direction:column;align-items:flex-start}
	.nxform__captcha-label{margin-bottom:15px}
	.nxform__cap-wrap{padding:0 10px}
}


/*--------------------------------------------------------------------------
| 💕 Member
|--------------------------------------------------------------------------*/

/* Login */
.member-login{position:relative;max-width:640px;padding:80px 125px;margin-left:auto;margin-right:auto;border:1px solid #e5e5e5}
.member-login__branding{text-align:center;margin-bottom:20px}
.member-login__notice{font-size:15px;text-align:center}
.member-login__form{margin-top:20px}
.member-login__input-row{position:relative}
.member-login__input{width:100%;height:70px;padding-right:30px;font-size:16px;text-indent:10px;border:0;border-bottom:1px solid #ddd;outline:none;transition:border-color .3s}
.member-login__input:focus{border-bottom:2px solid #6b48ff}
.member-login__input-icon{position:absolute;right:6px;top:50%;font-size:19px;transform:translateY(-50%);transition:color .3s}
.member-login__input:focus + .member-login__input-icon{color:#6b48ff}
.member-login__other{margin-top:25px}
.member-login__keep{position:relative;float:left}
.member-login__find{position:relative;float:right}
.member-login__keep-checkbox{position:absolute;top:0;left:0;opacity:0}
.member-login__keep-label{display:flex;align-items:center;cursor:pointer;}
.member-login__keep-icon{margin-right:4px;font-size:18px}
.member-login__keep-txt{font-size:16px}
.member-login__keep-checkbox:checked + .member-login__keep-label > .member-login__keep-icon::before{content:"\e92b"}
.member-login__find-list{display:flex;align-items:center;}
.member-login__find-list:first-child{padding-left:0;}
.member-login__find-item{position:relative;padding-left:30px;}
.member-login__find-item::before{content:"";display:inline-block;position:absolute;top:50%;left:15px;width:1px;height:10px;background-color:#e5e5e5;transform:translateY(-50%)}
.member-login__find-item:first-child{padding-left:0;}
.member-login__find-item:first-child::before{display:none}
.member-login__find-link{font-size:15px;color:#888}
.member-login__find-link:hover{color:#222}
.member-login__actions{margin-top:25px}
.member-login__actions-login{width:100%;height:65px;font-size:20px;color:#fff;border:0;background-color:#6b48ff;}
.member-login__actions-join{margin-top:25px;color:#999;text-align:center}
.member-login__actions-join-link{margin-left:10px;color:#0d3f67}
.member-login__actions-join-link:hover{text-decoration:underline}

/* 💕 Join & Mypage */
.member-form__box{max-width:680px;margin:0 auto;padding:15px 0;border-top:2px solid #000}
.member-form__row{display:flex;align-items:flex-start;min-height:60px;padding:8px 0}
.member-form__line{border-top:1px dashed #ccc}
.member-form__label-area{display:flex;align-items:center;width:150px;min-height:46px;padding-left:10px}
.member-form__label-area .required{position:relative;top:4px;color:red}
.member-form__label{font-size:16px;font-weight:500;color:#333}
.member-form__input-area{display:flex;flex-wrap:wrap;align-items:center;width:calc(100% - 280px);min-height:46px;padding:0 10px}
.member-form__input{width:100%;height:46px;border:1px solid #dcdcdc;border-radius:3px;padding:0 12px;outline:none;transition:border-color .3s, box-shadow .3s}
.member-form__input.focus{border-color:#6b48ff;box-shadow:0px 0px 4px rgba(107,72,255,.6)}
.member-form__input-message{display:none;width:100%;padding-top:10px}
.member-form__input-message.show{display:block}
.member-form__input-message p{font-size:13px;color:#f34a4a}
.member-form__input-message .icon{position:relative;top:-1px;font-size:14px;vertical-align:middle}
.member-form__input-message .icon::before{content:"\e925"}
.member-form__input-message p.success{color:#0c8b18}
.member-form__input-message p.success .icon::before{content:"\e92c"}
.member-form__action-area.top{align-items:top}
.member-form__action-area{width:130px;padding-right:10px}
.member-form__action-btn{width:100%;max-width:120px;height:46px;font-size:15px;font-weight:500;color:#6b48ff;border:1px solid #6b48ff;border-radius:3px;background-color:#fff;transition:opacity .3s, background-color .3s;}
.member-form__action-btn:hover{color:#fff;background-color:#6b48ff;}
.member-form__input-area.addr-area{overflow:hidden}
.member-form__input-area.addr-area .member-form__input{float:left;margin-bottom:10px}
.member-form__input-area.addr-area .member-form__input:last-child{margin-bottom:0}
.member-form__input.zipcode{width:120px}
.member-form__input.addr1{width:calc(100% - 127px);margin-left:7px}
.member-form__input-value{display:flex;align-items:center;min-height:46px;font-size:15px;color:#444}
.member-form__input-tel{position:relative;width:100%;height:46px;overflow:hidden;border:1px solid #dcdcdc;border-radius:3px;transition:border-color .3s, box-shadow .3s}
.member-form__input-tel.focus{border-color:#6b48ff;box-shadow:0px 0px 4px rgba(107,72,255,.6)}
.member-form__input-tel::before{content:"";display:inline-block;position:absolute;top:50%;left:33.333%;width:8px;height:1px;background-color:#dcdcdc;}
.member-form__input-tel::after{content:"";display:inline-block;position:absolute;top:50%;left:66.666%;width:8px;height:1px;background-color:#dcdcdc;}
.member-form__input-tel .member-form__input{float:left;width:33.333%;height:100%;text-align:center;outline:none;border:0}
.member-form__input-birth{position:relative;width:100%;height:46px;overflow:hidden;border:1px solid #dcdcdc;border-radius:3px;transition:border-color .3s, box-shadow .3s}
.member-form__input-birth.focus{border-color:#6b48ff;box-shadow:0px 0px 4px rgba(107,72,255,.6)}
.member-form__input-birth::before{content:"";display:inline-block;position:absolute;top:50%;left:33.333%;width:1px;height:14px;background-color:#dcdcdc;transform:translateY(-50%) skewX(-15deg)}
.member-form__input-birth::after{content:"";display:inline-block;position:absolute;top:50%;left:66.666%;width:1px;height:14px;background-color:#dcdcdc;transform:translateY(-50%) skewX(-15deg)}
.member-form__input-birth .member-form__input{float:left;width:33.333%;height:100%;text-align:center;outline:none;border:0}
.member-form__input-area .chk-item__icon{color:#ccc}
.member-form__input-term{width:100%}
.member-form__input-term-row{display:flex;justify-content:space-between;position:relative;margin-top:10px}
.member-form__input-term-row .icon{position:relative;top:-2px;font-size:26px;color:#ccc;vertical-align:middle}
.member-form__input-term-row .checkbox{position:absolute;width:0;height:0;opacity:0}
.member-form__input-term-row .checkbox:checked + .icon{color:#6b48ff}
.member-form__input-term-row .checkbox:checked + .icon::before{content:"\e92b"}
.member-form__input-term-row .checkbox:focus + .icon::after{display:inline-block}
.member-form__input-term-detail{font-size:16px;font-weight:500;color:#6b48ff;border:0;background-color:transparent}
.member-form__input-term-detail:hover{text-decoration:underline}
.member-form__submit{min-width:200px;padding:15px 25px;font-size:17px;font-weight:500;color:#fff;border:0;background-color:#6b48ff}

@media (max-width:480px){
	.member_tt{font-size:20px;padding-bottom:25px}
	.member-login .done_desc p{font-size:14px}
}


/*--------------------------------------------------------------------------
| 💕 Error 404
|--------------------------------------------------------------------------*/

/* 404 error */
.page404{display:flex;align-items:center;height:calc(100vh - 400px);min-height:640px;background-color:#fff}
.page404__box{max-width:640px;padding:35px 25px;margin:0 auto;border:1px solid #eee;border-radius:25px;background-color:#f7f7f7}
.page404__icon{font-size:60px}
.page404__title{margin-top:8px;font-size:28px;font-weight:500;text-align:center}
.page404__title > strong{display:block;margin-bottom:35px}
.page404__list{display:flex;justify-content:center}
.page404__item{margin:0 10px}
.page404__link{font-size:16px}
.page404__link:hover{text-decoration:underline}

@media (max-width:640px){
  .page404{height:auto;min-height:400px;padding:50px 0}
  .page404__title > strong{margin-bottom:20px}
  .page404__title{font-size:24px}
}
