@charset "utf-8";

/*--------------------------------------------------------------------------
| Reset
|--------------------------------------------------------------------------*/
/* Common Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  min-width: 360px;
  color: #333;
  background: #fff
}

/* overflow:hidden; */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  border: 0;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

ol, ul, dl, li {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table, th, td {
  border-spacing: 0;
  border-collapse: collapse
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none
}

img {
  border: 0
}

h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: 700;
  line-height: 1.5em
}

h1, h2, h3, h4, h5, h6, strong, p, label, a {
  line-height: 1.5em;
  word-break: keep-all
}

address {
  font-style: normal
}

label {
  cursor: pointer;
  vertical-align: middle
}

input {
  vertical-align: middle;
  -webkit-border-radius: 0
}

input::-ms-clear {
  display: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 300px white inset
}

select, textarea {
  vertical-align: middle;
}

.select {
  padding: 0 10px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none
}

.select::-ms-expand {
  display: none
}

::placeholder {
  color: #b7b7b7;
  opacity: 1
}

:-ms-input-placeholder {
  color: #b7b7b7
}

button, input[type=button], input[type=submit] {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

/*--------------------------------------------------------------------------
| Common
|--------------------------------------------------------------------------*/
/* Common Class */
.o-hd {
  overflow: hidden
}

.clearfix::after {
  content: "";
  display: block;
  clear: both
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0
}

.blind {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px
}

.visible {
  visibility: visible;
  opacity: 1
}

.pull-left {
  float: left
}

.pull-right {
  float: right
}

.cursor {
  cursor: pointer !important
}

.no-result {
  padding: 130px 20px;
  font-size: 16px;
  text-align: center;
  background: #eee
}

.video-wrap {
  position: relative;
  padding-top: 56.2%
}

.video_wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%
}

.mask {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: opacity .25s, visibility .25s;
  z-index: 2500
}

.mask.show {
  visibility: visible;
  opacity: 1
}

.editor-contents img {
  height: auto !important;
  max-width: 100%
}

.default-editor table, .default-editor thead, .default-editor tbody, .default-editor tr, .default-editor th, .default-editor td {
  border: 1px solid;
  border-spacing: revert;
  border-collapse: unset
}

.ic {
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle
}

/* Wrap */
.wrap {
  position: relative;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  animation: fadeIn .15s linear forwards
}

.wrap.move {
  animation: fadeOut .075s ease-in-out forwards
}

.wrap::-webkit-scrollbar {
  width: 12px
}

.wrap::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #9f9f9f;
  background-clip: padding-box;
}

.wrap::-webkit-scrollbar-track {
  background-color: #eee
}

@keyframes fadeIn {
  from {
    opacity: 0.03
  }

  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0.03
  }
}

@media (min-width:1025px) {
  .a-under:hover {
    text-decoration: underline;
  }
}

/*--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------*/
/* Common Layout */
.inner {
  width: 100%;
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto
}

.flex-wrap {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none
}

@media (max-width:1920px) {
  .hide_1920 {
    display: none
  }

  .show_1920 {
    display: block
  }

  .center_1920 {
    text-align: center
  }
}

@media (max-width:1600px) {
  .hide_1600 {
    display: none
  }

  .show_1600 {
    display: block
  }

  .center_1600 {
    text-align: center
  }
}

@media (max-width:1280px) {
  .hide_1280 {
    display: none
  }

  .show_1280 {
    display: block
  }

  .center_1280 {
    text-align: center
  }
}

@media (max-width:1024px) {
  .hide_1024 {
    display: none
  }

  .show_1024 {
    display: block
  }

  .center_1024 {
    text-align: center
  }
}

@media (max-width:970px) {
  .hide_970 {
    display: none
  }

  .show_970 {
    display: block
  }

  .center_970 {
    text-align: center
  }
}

@media (max-width:768px) {
  .hide_768 {
    display: none
  }

  .show_768 {
    display: block
  }

  .center_768 {
    text-align: center
  }
}

@media (max-width:640px) {
  .hide_640 {
    display: none
  }

  .show_640 {
    display: block
  }

  .center_640 {
    text-align: center
  }
}

@media (max-width:480px) {
  .hide_480 {
    display: none
  }

  .show_480 {
    display: block
  }

  .center_480 {
    text-align: center
  }
}

@media (max-width:400px) {
  .hide_400 {
    display: none
  }

  .show_400 {
    display: block
  }

  .center_400 {
    text-align: center
  }
}

@media (max-width:360px) {
  .hide_360 {
    display: none
  }

  .show_360 {
    display: block
  }

  .center_360 {
    text-align: center
  }
}

/* Padding & Margin */
.pt5 {
  padding-top: 5px
}

.pb5 {
  padding-bottom: 5px
}

.pt10 {
  padding-top: 10px
}

.pb10 {
  padding-bottom: 10px
}

.pt15 {
  padding-top: 15px
}

.pb15 {
  padding-bottom: 15px
}

.pt20 {
  padding-top: 20px
}

.pb20 {
  padding-bottom: 20px
}

.pt25 {
  padding-top: 25px
}

.pb25 {
  padding-bottom: 25px
}

.pt30 {
  padding-top: 30px
}

.pb30 {
  padding-bottom: 30px
}

.pt35 {
  padding-top: 35px
}

.pb35 {
  padding-bottom: 35px
}

.pt40 {
  padding-top: 40px
}

.pb40 {
  padding-bottom: 40px
}

.pt45 {
  padding-top: 45px
}

.pb45 {
  padding-bottom: 45px
}

.pt50 {
  padding-top: 50px
}

.pb50 {
  padding-bottom: 50px
}

.pt60 {
  padding-top: 60px
}

.pb60 {
  padding-bottom: 60px
}

.pt70 {
  padding-top: 80px
}

.pb70 {
  padding-bottom: 70px
}

.pt80 {
  padding-top: 80px
}

.pb80 {
  padding-bottom: 80px
}

.pt90 {
  padding-top: 90px
}

.pb90 {
  padding-bottom: 90px
}

.pt100 {
  padding-top: 100px
}

.pb100 {
  padding-bottom: 100px
}

.pt110 {
  padding-top: 110px
}

.pb110 {
  padding-bottom: 110px
}

.pt120 {
  padding-top: 120px
}

.pb120 {
  padding-bottom: 120px
}

.mt5 {
  margin-top: 5px
}

.mb5 {
  margin-bottom: 5px
}

.mt10 {
  margin-top: 10px
}

.mb10 {
  margin-bottom: 10px
}

.mt15 {
  margin-top: 15px
}

.mb15 {
  margin-bottom: 15px
}

.mt20 {
  margin-top: 20px
}

.mb20 {
  margin-bottom: 20px
}

.mt25 {
  margin-top: 25px
}

.mb25 {
  margin-bottom: 25px
}

.mt30 {
  margin-top: 30px
}

.mb30 {
  margin-bottom: 30px
}

.mt35 {
  margin-top: 35px
}

.mb35 {
  margin-bottom: 35px
}

.mt40 {
  margin-top: 40px
}

.mb40 {
  margin-bottom: 40px
}

.mt45 {
  margin-top: 45px
}

.mb45 {
  margin-bottom: 45px
}

.mt50 {
  margin-top: 50px
}

.mb50 {
  margin-bottom: 50px
}

.mt60 {
  margin-top: 60px
}

.mb60 {
  margin-bottom: 60px
}

.mt70 {
  margin-top: 80px
}

.mb70 {
  margin-bottom: 70px
}

.mt80 {
  margin-top: 80px
}

.mb80 {
  margin-bottom: 80px
}

.mt90 {
  margin-top: 90px
}

.mb90 {
  margin-bottom: 90px
}

.mt100 {
  margin-top: 100px
}

.mb100 {
  margin-bottom: 100px
}

.mt110 {
  margin-top: 110px
}

.mb110 {
  margin-bottom: 110px
}

.mt120 {
  margin-top: 120px
}

.mb120 {
  margin-bottom: 120px
}

.mt130 {
  margin-top: 130px
}

.mb130 {
  margin-bottom: 130px
}

.mt150 {
  margin-top: 150px
}

.mb150 {
  margin-bottom: 150px
}

.mt180 {
  margin-top: 180px
}

.mb180 {
  margin-bottom: 180px
}

.mt200 {
  margin-top: 200px
}

.mb200 {
  margin-bottom: 200px
}

.mt250 {
  margin-top: 250px
}

.mb250 {
  margin-bottom: 250px
}

.mt300 {
  margin-top: 300px
}

.mb300 {
  margin-bottom: 300px
}

@media (max-width:970px) {
  .pt10 {
    padding-top: 8px
  }

  .pb10 {
    padding-bottom: 8px
  }

  .pt15 {
    padding-top: 12px
  }

  .pb15 {
    padding-bottom: 12px
  }

  .pt20 {
    padding-top: 16px
  }

  .pb20 {
    padding-bottom: 16px
  }

  .pt25 {
    padding-top: 20px
  }

  .pb25 {
    padding-bottom: 20px
  }

  .pt30 {
    padding-top: 24px
  }

  .pb30 {
    padding-bottom: 24px
  }

  .pt35 {
    padding-top: 30px
  }

  .pb35 {
    padding-bottom: 30px
  }

  .pt40 {
    padding-top: 35px
  }

  .pb40 {
    padding-bottom: 35px
  }

  .pt45 {
    padding-top: 38px
  }

  .pb45 {
    padding-bottom: 38px
  }

  .pt50 {
    padding-top: 40px
  }

  .pb50 {
    padding-bottom: 40px
  }

  .pt60 {
    padding-top: 48px
  }

  .pb60 {
    padding-bottom: 48px
  }

  .pt70 {
    padding-top: 58px
  }

  .pb70 {
    padding-bottom: 58px
  }

  .pt80 {
    padding-top: 60px
  }

  .pb80 {
    padding-bottom: 60px
  }

  .pt90 {
    padding-top: 62px
  }

  .pb90 {
    padding-bottom: 62px
  }

  .pt100 {
    padding-top: 64px
  }

  .pb100 {
    padding-bottom: 64px
  }

  .pt110 {
    padding-top: 67px
  }

  .pb110 {
    padding-bottom: 67px
  }

  .pt120 {
    padding-top: 71px
  }

  .pb120 {
    padding-bottom: 71px
  }

  .mt10 {
    margin-top: 8px
  }

  .mb10 {
    margin-bottom: 8px
  }

  .mt15 {
    margin-top: 12px
  }

  .mb15 {
    margin-bottom: 12px
  }

  .mt20 {
    margin-top: 16px
  }

  .mb20 {
    margin-bottom: 16px
  }

  .mt25 {
    margin-top: 20px
  }

  .mb25 {
    margin-bottom: 20px
  }

  .mt30 {
    margin-top: 24px
  }

  .mb30 {
    margin-bottom: 24px
  }

  .mt35 {
    margin-top: 30px
  }

  .mb35 {
    margin-bottom: 30px
  }

  .mt40 {
    margin-top: 35px
  }

  .mb40 {
    margin-bottom: 35px
  }

  .mt45 {
    margin-top: 38px
  }

  .mb45 {
    margin-bottom: 38px
  }

  .mt50 {
    margin-top: 40px
  }

  .mb50 {
    margin-bottom: 40px
  }

  .mt60 {
    margin-top: 48px
  }

  .mb60 {
    margin-bottom: 48px
  }

  .mt70 {
    margin-top: 58px
  }

  .mb70 {
    margin-bottom: 58px
  }

  .mt80 {
    margin-top: 60px
  }

  .mb80 {
    margin-bottom: 60px
  }

  .mt90 {
    margin-top: 62px
  }

  .mb90 {
    margin-bottom: 62px
  }

  .mt100 {
    margin-top: 64px
  }

  .mb100 {
    margin-bottom: 64px
  }

  .mt110 {
    margin-top: 67px
  }

  .mb110 {
    margin-bottom: 67px
  }

  .mt120 {
    margin-top: 71px
  }

  .mb120 {
    margin-bottom: 71px
  }

  .mt130 {
    margin-top: 80px
  }

  .mb130 {
    margin-bottom: 80px
  }

  .mt150 {
    margin-top: 90px
  }

  .mb150 {
    margin-bottom: 90px
  }

  .mt180 {
    margin-top: 105px
  }

  .mb180 {
    margin-bottom: 105px
  }

  .mt200 {
    margin-top: 130px
  }

  .mb200 {
    margin-bottom: 130px
  }

  .mt250 {
    margin-top: 170px
  }

  .mb250 {
    margin-bottom: 170px
  }

  .mt300 {
    margin-top: 205px
  }

  .mb300 {
    margin-bottom: 205px
  }
}

@media (max-width:480px) {
  .pt10 {
    padding-top: 7px
  }

  .pb10 {
    padding-bottom: 7px
  }

  .pt15 {
    padding-top: 10px
  }

  .pb15 {
    padding-bottom: 10px
  }

  .pt20 {
    padding-top: 12px
  }

  .pb20 {
    padding-bottom: 12px
  }

  .pt25 {
    padding-top: 16px
  }

  .pb25 {
    padding-bottom: 16px
  }

  .pt30 {
    padding-top: 20px
  }

  .pb30 {
    padding-bottom: 20px
  }

  .pt35 {
    padding-top: 25px
  }

  .pb35 {
    padding-bottom: 25px
  }

  .pt40 {
    padding-top: 30px
  }

  .pb40 {
    padding-bottom: 30px
  }

  .pt45 {
    padding-top: 33px
  }

  .pb45 {
    padding-bottom: 33px
  }

  .pt50 {
    padding-top: 37px
  }

  .pb50 {
    padding-bottom: 37px
  }

  .pt60 {
    padding-top: 42px
  }

  .pb60 {
    padding-bottom: 42px
  }

  .pt70 {
    padding-top: 46px
  }

  .pb70 {
    padding-bottom: 46px
  }

  .pt80 {
    padding-top: 48px
  }

  .pb80 {
    padding-bottom: 48px
  }

  .pt90 {
    padding-top: 50px
  }

  .pb90 {
    padding-bottom: 50px
  }

  .pt100 {
    padding-top: 53px
  }

  .pb100 {
    padding-bottom: 53px
  }

  .pt110 {
    padding-top: 58px
  }

  .pb110 {
    padding-bottom: 58px
  }

  .pt120 {
    padding-top: 62px
  }

  .pb120 {
    padding-bottom: 62px
  }

  .mt10 {
    margin-top: 7px
  }

  .mb10 {
    margin-bottom: 7px
  }

  .mt15 {
    margin-top: 10px
  }

  .mb15 {
    margin-bottom: 10px
  }

  .mt20 {
    margin-top: 12px
  }

  .mb20 {
    margin-bottom: 12px
  }

  .mt25 {
    margin-top: 16px
  }

  .mb25 {
    margin-bottom: 16px
  }

  .mt30 {
    margin-top: 20px
  }

  .mb30 {
    margin-bottom: 20px
  }

  .mt35 {
    margin-top: 25px
  }

  .mb35 {
    margin-bottom: 25px
  }

  .mt40 {
    margin-top: 30px
  }

  .mb40 {
    margin-bottom: 30px
  }

  .mt45 {
    margin-top: 33px
  }

  .mb45 {
    margin-bottom: 33px
  }

  .mt50 {
    margin-top: 37px
  }

  .mb50 {
    margin-bottom: 37px
  }

  .mt60 {
    margin-top: 42px
  }

  .mb60 {
    margin-bottom: 42px
  }

  .mt70 {
    margin-top: 46px
  }

  .mb70 {
    margin-bottom: 46px
  }

  .mt80 {
    margin-top: 48px
  }

  .mb80 {
    margin-bottom: 48px
  }

  .mt90 {
    margin-top: 50px
  }

  .mb90 {
    margin-bottom: 50px
  }

  .mt100 {
    margin-top: 53px
  }

  .mb100 {
    margin-bottom: 53px
  }

  .mt110 {
    margin-top: 58px
  }

  .mb110 {
    margin-bottom: 58px
  }

  .mt120 {
    margin-top: 62px
  }

  .mb120 {
    margin-bottom: 62px
  }

  .mt130 {
    margin-top: 70px
  }

  .mb130 {
    margin-bottom: 70px
  }

  .mt150 {
    margin-top: 80px
  }

  .mb150 {
    margin-bottom: 80px
  }

  .mt180 {
    margin-top: 95px
  }

  .mb180 {
    margin-bottom: 95px
  }

  .mt200 {
    margin-top: 110px
  }

  .mb200 {
    margin-bottom: 110px
  }

  .mt250 {
    margin-top: 128px
  }

  .mb250 {
    margin-bottom: 128px
  }

  .mt300 {
    margin-top: 150px
  }

  .mb300 {
    margin-bottom: 150px
  }
}

/*--------------------------------------------------------------------------
| Animation
|--------------------------------------------------------------------------*/
/* Common Animation */
html:not(.old-ie) .animate-element {
  transition: visibility 1.1s ease, opacity 1.1s ease, transform 1.1s ease
}

/* Fade */
html:not(.old-ie) .fadeIn {
  visibility: hidden;
  opacity: 0
}

html:not(.old-ie) .fadeIn.animated, html:not(.old-ie) body.is-mobile .fadeIn {
  visibility: visible;
  opacity: 1
}

html:not(.old-ie) .fadeInUp {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: translateY(110px)
}

html:not(.old-ie) .fadeInUp.animated, html:not(.old-ie) body.is-mobile .fadeInUp {
  visibility: visible;
  opacity: 1;
  transform: translateY(0)
}

html:not(.old-ie) .fadeInDown {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-110px)
}

html:not(.old-ie) .fadeInDown.animated, html:not(.old-ie) body.is-mobile .fadeInDown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0)
}

html:not(.old-ie) .fadeInRight {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-110px)
}

html:not(.old-ie) .fadeInRight.animated, html:not(.old-ie) body.is-mobile .fadeInRight {
  visibility: visible;
  opacity: 1;
  transform: translateX(0)
}

html:not(.old-ie) .fadeInLeft {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: translateX(110px)
}

html:not(.old-ie) .fadeInLeft.animated, html:not(.old-ie) body.is-mobile .fadeInLeft {
  visibility: visible;
  opacity: 1;
  transform: translateY(0)
}

/* loading */
.loading {
  background-color: #009fe9;
  display: table;
  position: fixed;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear
}

.loading.loader_hide {
  visibility: hidden;
  opacity: 0
}

#loading_1 {}

#loading_1 .loader_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

#loading_1 .loader_inner>div {
  background-color: #fff;
  height: 15px;
  width: 15px;
  margin-left: 3px;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
  animation: stretchdelay 0.7s infinite ease-in-out
}

#loading_1 .loader_inner .circ01 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s
}

#loading_1 .loader_inner .circ02 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s
}

#loading_1 .loader_inner .circ03 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s
}

#loading_1 .loader_inner .circ04 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: translateY(-10px)
  }

  20% {
    -webkit-transform: translateY(-20px)
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px)
  }

  20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px)
  }
}

#loading_2 {}

#loading_2 .loader_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

#loading_2 .loader_inner .circ {
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-top-color: #FFF;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

#loading_3 {}

#loading_3 .loader_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

#loading_3 .loader_inner .circ, #loading_03 .loader_inner .circ:before, #loading_03 .loader_inner .circ:after {
  border-radius: 50%;
  background-color: #fff;
  width: 18px;
  height: 18px;
  transform-origin: center center;
  display: inline-block
}

#loading_3 .loader_inner .circ {
  position: relative;
  background-color: #fff;
  opacity: 1;
  -webkit-animation: spScaleAlpha 1s infinite linear;
  animation: spScaleAlpha 1s infinite linear
}

#loading_3 .loader_inner .circ:before, #loading_03 .loader_inner .circ:after {
  content: '';
  position: relative;
  opacity: 0.25
}

#loading_3 .loader_inner .circ:before {
  left: 30px;
  top: 0px;
  -webkit-animation: spScaleAlphaBefore 1s infinite linear;
  animation: spScaleAlphaBefore 1s infinite linear
}

#loading_3 .loader_inner .circ:after {
  left: -30px;
  top: -23px;
  -webkit-animation: spScaleAlphaAfter 1s infinite linear;
  animation: spScaleAlphaAfter 1s infinite linear
}

@-webkit-keyframes spScaleAlpha {
  0% {
    opacity: 1
  }

  33% {
    opacity: 0.25
  }

  66% {
    opacity: 0.25
  }

  100% {
    opacity: 1
  }
}

@keyframes spScaleAlpha {
  0% {
    opacity: 1
  }

  33% {
    opacity: 0.25
  }

  66% {
    opacity: 0.25
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes spScaleAlphaBefore {
  0% {
    opacity: 0.25
  }

  33% {
    opacity: 1
  }

  66% {
    opacity: 0.25
  }
}

@keyframes spScaleAlphaBefore {
  0% {
    opacity: 0.25
  }

  33% {
    opacity: 1
  }

  66% {
    opacity: 0.25
  }
}

@-webkit-keyframes spScaleAlphaAfter {
  33% {
    opacity: 0.25
  }

  66% {
    opacity: 1
  }

  100% {
    opacity: 0.25
  }
}

@keyframes spScaleAlphaAfter {
  33% {
    opacity: 0.25
  }

  66% {
    opacity: 1
  }

  100% {
    opacity: 0.25
  }
}

#loading_4 {}

#loading_4 .loader_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

#loading_4 .loader_inner .bar {
  position: relative;
  width: 10px;
  height: 50px;
  clear: both;
  margin: 20px auto;
  border: 1px #fff solid;
  background-color: #fff;
  -webkit-animation: loadBars 1s infinite linear;
  animation: loadBars 1s infinite linear
}

#loading_4 .loader_inner .bar:after, #loading_4 .loader_inner .bar:before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border: inherit;
  background-color: inherit;
  top: -1px
}

#loading_4 .loader_inner .bar:before {
  left: -20px;
  -webkit-animation: loadBarsBefore 1s infinite linear;
  animation: loadBarsBefore 1s infinite linear
}

#loading_4 .loader_inner .bar:after {
  right: -20px;
  -webkit-animation: loadBarsAfter 1s infinite linear;
  animation: loadBarsAfter 1s infinite linear
}

@keyframes loadBarsBefore {
  0% {
    transform: scale(1, 1)
  }

  25% {
    transform: scale(1, 1.25)
  }

  50% {
    transform: scale(1, 0.75)
  }

  75% {
    transform: scale(1, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}

@keyframes loadBars {
  0% {
    transform: scale(1, 1)
  }

  25% {
    transform: scale(1, 1)
  }

  50% {
    transform: scale(1, 1.25)
  }

  75% {
    transform: scale(1, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}

@keyframes loadBarsAfter {
  0% {
    transform: scale(1, 1)
  }

  25% {
    transform: scale(1, 1)
  }

  50% {
    transform: scale(1, 0.75)
  }

  75% {
    transform: scale(1, 1.25)
  }

  100% {
    transform: scale(1, 1)
  }
}

#loading_5 {}

#loading_5 .loader_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

#loading_5 .circ_wrap {
  width: 60px;
  margin: auto
}

#loading_5 .circ_wrap>div {
  height: 4px;
  position: relative;
  width: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125)
}

#loading_5 .circ01 {
  position: absolute;
  left: 50px;
  top: 0px;
  animation: loadMove 2s infinite ease-in-out
}

#loading_5 .circ02 {
  position: absolute;
  left: 0px;
  top: -50px;
  animation: loadMove 2s infinite ease-in-out;
  animation-delay: -1s
}

#loading_5 .circ03 {
  position: absolute;
  left: 50px;
  top: -50px;
  animation: loadMove 2s infinite ease-in-out;
  animation-delay: -0.5s
}

#loading_5 .circ04 {
  position: absolute;
  left: 0;
  top: 0;
  animation: loadMove 2s infinite ease-in-out;
  animation-delay: -1.5s
}

@keyframes loadMove {
  0% {
    left: 50px;
    top: 0px
  }

  25% {
    left: 0px;
    top: 0px
  }

  50% {
    top: -50px;
    transform: scale(3);
    left: 0px
  }

  75% {
    top: -50px;
    left: 50px
  }

  100% {
    top: 0px;
    transform: scale(1);
    left: 50px
  }
}

#loading_6 {}

#loading_6 .loader_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

#loading_6 .spin {
  height: 45px;
  width: 45px;
  position: relative;
  display: inline-block;
  vertical-align: middle
}

#loading_6 .spin span {
  border-radius: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 3px solid #fff;
  opacity: 0;
  -webkit-animation: loadScale 1s ease-out infinite;
  animation: loadScale 1s ease-out infinite
}

#loading_6 .spin span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s
}

#loading_6 .spin span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s
}

@-webkit-keyframes loadScale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0)
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1)
  }
}

@keyframes loadScale {
  0% {
    opacity: 0;
    transform: scale(0)
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    transform: scale(1)
  }
}

/* btn */
.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer
}

/* term */
.nx_term_contents {
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 15px
}

.nxTermPop {
  position: fixed;
  display: block;
  visibility: hidden;
  opacity: 0;
  top: 43%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  background: #fff;
  z-index: 201;
  border-radius: 7px;
  padding: 30px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear
}

.nxTermPop.show {
  top: 50%;
  visibility: visible;
  opacity: 1
}

.nxTermPop h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 500
}

.nxTermPop .nxTermCon {
  height: 350px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 13.5px;
  line-height: 19px;
  color: #333;
  margin-top: 12px;
  overflow-y: scroll;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05)
}

.nxTermPop .btn {
  display: inline-block;
  width: 100px;
  height: 32px;
  font-size: 14px;
  color: #333;
  background: #eee;
  border: 1px solid #bbb;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05)
}

@media (max-width:640px) {
  .nxTermPop {
    left: 5%;
    width: 90%;
    margin-left: 0
  }
}

/* faq */
.nxFaq {
  display: block;
  border-top: 1px solid #444
}

.nxFaq>li {
  border-bottom: 1px solid #ddd
}

.nxFaq>li>a {
  position: relative;
  display: block;
  font-size: 16px;
  color: #444;
  padding: 13px 40px 13px 42px
}

.nxFaq>li>a:hover {
  color: #000
}

.nxFaq>li>a:before {
  content: "Q.";
  position: absolute;
  top: 12px;
  left: 20px;
  font-weight: 500;
  color: #4198e7
}

.nxFaq>li>a:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 20px;
  margin-top: -6px;
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear
}

.nxFaq>li.open>a:after {
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -3px
}

.nxFaq>li>.answer {
  display: none;
  position: relative;
  border-top: 1px dotted #ddd;
  padding: 22px 40px 22px 58px;
  background: #f8f8f8
}

.nxFaq>li>.answer>p {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  color: #444
}

.nxFaq>li>.answer>p:before {
  content: "A.";
  position: absolute;
  top: 0;
  left: -18px;
  font-size: 16px;
  font-weight: 500;
  color: #4198e7
}

.nxFaq.open_type {
  background: #fff
}

.nxFaq.open_type>li>a {
  cursor: text
}

.nxFaq.open_type>li>a:after, .nxFaq.open_type>li>.answer>p:before {
  display: none
}

.nxFaq.open_type>li>.answer {
  display: block;
  border-top: 0;
  padding: 0 20px 30px;
  background: #fff
}

.nxFaqTab {
  padding-bottom: 10px;
  margin-left: -14px
}

.nxFaqTab>li {
  float: left;
  position: relative;
  padding: 6px 14px
}

.nxFaqTab>li:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background: #666
}

.nxFaqTab>li:last-child:after {
  display: none
}

.nxFaqTab>li>a {
  font-size: 17px;
  font-weight: 500;
  color: #333
}

.nxFaqTab>li>a:hover {
  color: #4198e7
}

.nxFaqTab>li>a.act {
  font-weight: 700;
  color: #4198e7
}

@media (max-width:640px) {
  .nxFaq>li>a {
    font-size: 14px;
    padding: 13px 30px 13px 30px
  }

  .nxFaq>li>a:before {
    left: 9px
  }

  .nxFaq>li>.answer {
    padding: 20px 28px 20px 40px
  }

  .nxFaq>li>.answer>p {
    font-size: 13px
  }

  .nxFaqTab {
    margin-left: -12px
  }

  .nxFaqTab>li {
    padding: 5px 12px
  }

  .nxFaqTab>li>a {
    font-size: 15px
  }
}

/* Default Color */
.white{color:#fff}
.black{color:#000}
.gray1{color:#111}
.gray2{color:#222}
.gray3{color:#333}
.gray4{color:#444}
.gray5{color:#555}
.gray6{color:#666}
.gray7{color:#777}
.gray8{color:#888}
.gray9{color:#999}
.blue{color:blue}
.red{color:red}
.pink{color:pink}
.orange{color:orange}
.coral{color:coral}
.darkviolet{color:darkviolet}
